body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee; /* Globalny kolor tła, jeśli potrzebny */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Importuj font Abel tutaj */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Możesz tu dodać inne globalne style, jeśli potrzebujesz */
body, #root, .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
