/* Importuj font Abel */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee; /* Globalne tło */
}

/* Ustawienie domyślnego fontu dla całej aplikacji */
body, #root, .App, .app-container {
  font-family: 'Abel', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Podstawowe ustawienie dla layoutu flex */
#root, .App, .app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
